@media screen and (max-width: 1050px) {
 
 .nav-item {
            font-size: 1em;
        }

 #time_again {
        font-size: 18px;
      }
 
  .christmas-ball {
        height: 60px;
        width: 60px;
      }


    h3 {
        font-size: 12px;
    }

    #first_section {
        height: 570px;
    }

    #second_section {
       width: 91%;
        } 
           
    .sectionhead p {
        font-size: 15px;
        line-height: 1.5em;
        }
   
      #second_section .container {
            padding: 75px;   
        }  
           
        p {
            font-size: 10px;
            line-height: 1em;
            }
   
            #third_section {
                height: 650px;
                }

                #third_section .content {
                    padding: 65px 10px;
                   }

                 #third_section img {
                height: 270px;
                width: 270px;
                } 
   
                .productimg {
                    width: 37%;  
                    float: left;
                    margin-left: 30%;
                    }

                    .price {
                        line-height: 2em; 
                    }

                    .offertag {
                        width: 60px;
                        height: 60px;
                        padding: 6px;
                        }

                    .smalltag {
                    margin-left: 25%;
                    top: 10%;
                    } 

                     .product_text {
                    text-align: center;
                    }

                     h4 {
                        font-size: 20px;
                    }
                    
                    .darkoverlay {
                   height: 500px;
                   }

                h2 {
                    font-size: 25px;
                }

                .featureditem {
               padding: 120px 0 60px 120px;
                 }

              .featureditem img {
              margin-top: 15px;
              width: 100%;
            }
 
 .mailchimp {
                width: 89%; 
                padding-left: 43px;
            }
}
 
