
@media only screen and (max-width: 1200px) {

    #time_again {
        font-size: 25px;
    }

  #save_up_to {
        font-size: 15px;
    }

  #bigbell {
    margin: -10px;
    height: 120px;
    width: 120px;
    }

   .santa_pic {
    height: 170px;
    width: 125px;
}


    #primaire-nav {
        height: 40px;
        padding: 0px;
    }

    #primaire-nav a {
        font-size: 1em;
        padding: 5px 6px;
    }

    .minicart-wrapper {
    margin-top: -560px;  
    margin-right: 10px;
}
    
#fourth_section {
    background-size: 100px 100px;
    margin: 40px;
    }
    
   .btn {
    border-radius: 20px;
    padding: 10px 30px;
}

.p {
font-size: 10px;
line-height: 1em;
}

.btn-default {
border: 1.5px solid #f53f2c;
}

.btn-default:hover {
    border: 1px solid #b73426;
}

 .secondhead h1 {
    font-size: 50px;
}   
    
.sectionhead {
padding: 0 70px;
}

.sectionhead p {
font-size: 16px;
line-height: 1.6em;
}

.darkoverlay {
 height: 600px;
}

 #second_section .container{
    padding: 25px 0;   
}  
    
#fifth_section .container {
 padding: 25px 0;
}

#third_section .content {
    padding: 65px 10px;
   }
   

#third_section img {
margin-left: 20px;
height: 428px;
width: 343px;
}

.featureditem {
 padding: 120px 0 60px 120px;
}

.featureditem img {
margin-top: 15px;
width: 100%;
}

#third_section {
height: 730px;
}

.bigtag
    {
    top: 35px;
    left: 45%;
    }

.smalltag
{
    margin-left: 40%;
    top: 25%;
}

.productimg
{
    margin-bottom: 15px;
    margin-left: 25%;
    width: 50%;
}

.product_text
{
    text-align: center;
}

}
