@media screen and (max-width: 1050px) {
 
   #time_again {
        font-size: 20px;
      }
    
   .fa-shopping-cart {
            margin-right: 25px; 
           } 

    .nav-item {
            font-size: 1em;
        }

  #save_up_to {
        font-size: 12px;
    }

    #offer_ends {
        font-size: 10px;
        }

  #bigbell {
   height: 100px;
    width: 100px;
    }

    #second_section {
       width: 91%;
        }

        .secondhead h1 {
            font-size: 30px;
        }   
           
    .sectionhead p {
        font-size: 15px;
        line-height: 1.5em;
        }
   
      #second_section .container {
            padding: 75px;   
        }  
           
        p {
            font-size: 10px;
            line-height: 1em;
            }
   
            #third_section {
                height: 600px;
                }

                #third_section .content {
                    padding: 65px 10px;
                   }

                 #third_section img {
                height: 300px;
                width: 300px;
                } 
   
                .productimg {
                    width: 37%;  
                    float: left;
                    margin-left: 30%;
                    }

                    .price {
                        line-height: 2em; 
                    }

                    .offertag {
                        width: 60px;
                        height: 60px;
                        padding: 6px;
                        }

                    .smalltag {
                    margin-left: 25%;
                    top: 10%;
                    } 

                     .product_text {
                    text-align: center;
                    }

                     h4 {
                        font-size: 20px;
                    }
                    
                    .darkoverlay {
                   height: 550px;
                   }

                h2 {
                    font-size: 25px;
                }

                .featureditem {
               padding: 120px 0 60px 120px;
                 }

              .featureditem img {
              margin-top: 15px;
              width: 100%;
            }
}
 
