@font-face{
    font-family: Kurale;
    src: url("../ttf/Kurale-Regular.ttf");
}

@font-face{
    font-family: Cookie;
    src: url("../ttf/Cookie-Regular.ttf");
}

body {
    font-family: Kurale, sans-serif;
    margin: 0;
    width: 100%;
}

    #first_section {
    text-align: center;
    height: 635px;
    color: rgb(231,229,229);
    background: url("../img/background.jpg") fixed;
    } 
   
#first_section .containerv {
    padding-top: 20px;
}
    #first_section h1 {
    font-weight: 900;
    text-transform: uppercase;
    line-height: .8em;
    }

.nav-item {
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
}

#time_again {
    font-size: 50px;
    color: #00873E;
    padding-top: 30px;
    }
    
.sectionhead {
    padding: 0 150px;
    }

    .sectionhead hr {
        width: 50px;
        border-bottom: 4px solid #eeeeee;
    }
   
    #second_section {
        text-align: center;
        width: 100%;
        }
    
    .col-md-6, .col-lg-4 {
     padding-top: 50px;
     }
    
    #second_section img {
     height: 100px;
    }

    input {
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #b2b2b2;
        margin: 30px 5px;
        color: #b2b2b2;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
    }
    
    input:focus {
    border: 2px solid #f53f2c;
    }
    
    .btn {
        border-radius: 10px;
        padding: 10px;
        margin-top: 27px;
        text-transform: uppercase;
        font-weight: 100px;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
    }
    
    .btn:focus input:focus {
    outline: none;
    }
    
    .btn:focus {
        background: #b73426;
        color: #fff;
        border: 2px solid #f53f2c;
    }
    
    .btn-default {
        background: none;
        color: #f53f2c;
        border: 2.5px solid #f53f2c;
    }
    
    .btn-default:hover {
        background: #f53f2c;
        color: #fff;
        border: 2px solid #b73426;
    }

    .highlight {
        color: #f53f2c;
    }
    
h1 { 
    font-size: 50px;
}

h2 {
    font-family: Cookie, cursive;
    padding-top: 20px;
}

h4 {
    font-weight: 200;
}

p {
font-size: 15px;
line-height: 2em;
color: #999292;
}

#third_section {
    margin-top: 70px;
    background-color: #fff;
    background: url("../img/background2.jpg") fixed;
}

#third_section p {
 color: #fff;
}

.redoverlay {
    width: 100%;
    height: 100%;
 
}

#fourth_section {
    text-align: center;
    width: 100%;
} 

.productimg {
    width: 100%; 
}

.productimg:hover {
    opacity: 0.8;
   -webkit-transition: 0.5s ease-out;
   -moz-transition: 0.5s ease-out;
   -o-transition: 0.5s ease-out;
   transition: 0.5s ease-out;
}

#fourth_section .producttext {
   margin-left: -117px;
   margin-bottom: 80px;
} 

.price {
font-size: 16px;
color: #000;
font-weight: 600;
margin-bottom: 0;
}

.offertag {
   border-radius: 50%;
   border: 1px solid #fff;
   width: 80px;
   height: 80px;
   padding: 5px;
   color: #fff;
   position: absolute;
   text-transform: uppercase;
   font-weight: 600;
   transform: rotate(351deg);
   -webkit-transform: rotate(351deg);
   -moz-transform: rotate(351deg);
   -o-transform: rotate(351deg);
   -ms-transform: rotate(351deg);
}

.offertag h4 {
   margin-bottom: 0px;
}

.offertag p {
 color: #fff;
}

.smalltag {
   top: 90px;
   left: 90px;
   transform: rotate(351deg) scale(0.8);
   -webkit-transform: rotate(351deg) scale(0.8);
   -moz-transform: rotate(351deg) scale(0.8);
   -o-transform: rotate(351deg) scale(0.8);
   -ms-transform: rotate(351deg) scale(0.8);
}

.fixedoffer {
background: #89d055;
}

.percentoffer {
background: #f53f2c;
}

.otheroffer {
background: #668bde;
}

#fifth_section {
    margin-top: 115px;
    background: #1e2625;
    text-align: center;
    width: 100%;
    color: #fff;
}

#fifth_section .container {
 padding: 65px 0;
}

#santaicon {
    animation-duration: 20s;
    margin-top: -160px;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

#sixth_section {
    padding: 75px 0 30px 0;
    text-align: center;
    width: 100%;
}
  
  .logo {
   margin-top: -20px;
}
  
  .santacap {
      margin-top: -115px;
      margin-left: -70px;
      height: 48px;
      width: 48px;
}
  
  #sixth_section hr {
      width: 75px;
      border-bottom: 4px solid #eeeeee;
}

  #seventh_section {
    position: fixed;
    right: -125px;
    top: 50px;
    width: 200px;
}

.sticky li {
    list-style: none;
    background-color: transparent;
    color: #b2b2b2;
    height: 35px;
    margin: 0px 0px 3px 0px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    cursor: pointer;
    filter: gray alpha(50%);
    -webkit-filter: grayscale(50%);
}

.sticky li:hover {
    margin-left: -115px;
    filter: none;
    -webkit-filter: grayscale(0%);
}

.sticky li img {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 15px;
    padding: 3px;
}

.sticky li p {
    text-transform: uppercase;
    line-height: 36px;
}









